<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifyPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SpotifyPrinter.Properties.Settings>
            <setting name="Playlists" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4eLslb9s9PXmkr8mOgfrXF</string>
                        <string>6mtC5TuWGII11896qYKvsb</string>
                        <string>5jNdZbJrAIUxSLH9HgP1lf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
        </SpotifyPrinter.Properties.Settings>
    </userSettings>
</configuration>